body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="date"] {
    padding: 10px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #28a745; /* Color verde */
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #218838; /* Color verde más oscuro al pasar el ratón */
}

footer {
    text-align: center;
    margin-top: 20px;
}
